#footer {
    margin-top: 200px;
}

/****************************** Detail page ********************/
.service_name, .headline {
    text-align: center;
}

.service_icon {
    height: 58px;
    text-align: center;
    margin-top: 5px;
}

.police_icon_spacer {
    padding-top: 6px;
}

.permit_icon_spacer {
    padding-top: 5px;
}

.violations_icon_spacer {
    padding-top: 10px;
}

@media screen and (max-width: 320px) {
    .hero-unit h1 {
        font-size: 40px;
    }
    
    .headline_big {
        display:none;
    }    
}

@media screen and (min-width: 768px) {
    .bottom_breaker {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .detail_breaker {
        display: none;
    }
    .
}

@media screen and (min-width: 320px) {
    .headline_small {
        display:none;
    }
}

.service_info {
    height: 2.5em;
    font-size: 1.2em;
}

.highlight {
    font-style: italic;
}

.notice {
    font-size: 0.8em;
    font-style: italic;
}

/**** Maps *******/
.map_wrapper {
    clear: both;
    padding-top: 20px;
    margin-bottom: 20px;
}

/**** Graphs ****/
.detail_graph {
    height: 450px;
    width: 100%;
}

.x_axis path,
.x_axis line {
    fill: none;
    stroke: #EEEEEE;
    shape-rendering: crispEdges;
}

.x_axis text {
    font-size: 0.65em;
}

.explanation text {
    font-size: 0.8em;
    fill: #CCC;
}

.legend text {
    font-size: 0.8em;
}

/**** Detail lists ****/
.service_icon_details {
    max-height:40px;
    margin-right: 15px;
    margin-top: -5px;
}

ul.detail_categories, ul.detail_types {
    clear: both;
    list-style-type: none;
    margin: 0px;
}

ul.detail_categories li, ul.detail_types li {
    float: left;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.detail_list {
    clear: both;
}

.date {
    font-size: 0.8em;
    color: #999;
}

.address {
    font-size: 0.8em;
    font-weight:600;
}

.value {
    display: inline-block;
    width: 100px;
}

.red {
    color: red;
}

.permit_highlight, .police_highlight {
    color: #FF9896;
}

.detail_button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.map_holder {
    border: 1px solid #EEE;
}

/*---- Select date and neighborhood pages ----*/
.bigbox {
    width: 300px;
    padding-left:10px;
    padding-right:10px;
}

.search_holder {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.date_holder {
    width: 220px;
    margin-left:auto;
    margin-right: auto;
}