{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ neighborhood_name }} - Fire Info - {{date_object|date:"F d, Y"}}{% endblock title %}

{% block css_overrides %}
<style>
  #fire_map img {
    max-width: none; /* Bootstrap fix */
  }
</style>
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1 class="headline">{{date_label}} in {{ neighborhood_name }}</h1>
  </div>  
  {% if fire_count > 0 %}
  <div>
    <h2><img src="{% static "img/icons/fire.png" %}" class="service_icon_details">Fire Details</h2>
    <hr>
  </div>
  <div id="fire_details">
    <ul class="detail_types">
      <li><a href="#" class="fire_type btn btn-primary" value="fire-all">All</a></li>
      {% for key, value in fire_detail.items %}
      {% if value > 0 %}
      <li><a href="#" class="fire_type btn" value="fire-{{ key|slugify }}">{{ key }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>  
    <div class="map_wrapper">
      <div id="fire_map"></div>
    </div>
    <div class="detail_list" id="fire_list">
      {% for fire in fires %}
      <div class="row-fluid" value="fire-{{ fire.incident_category.aggregate.description|slugify }}">
        <div class="span1 date">
          {{ fire.date|date:"g:i a" }}
        </div>
        <div class="span3 address">
          <a href="https://maps.google.com/maps?q={{fire.lat}},{{fire.lng}}" target="_blank">{{ fire.address }}</a>
        </div>
        <div class="span8">
          {{ fire.incident_category.description }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div>
    <h2>No 911 calls to fire department</h2>
  </div>
  {% endif %}
  

{% endblock %}

{% block scripts %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaR_OIpyxPvlznW2j6dLQjz8_iFbUp3Ao&sensor=false">
</script>
<script>
  $(document).ready(function() {
    var fireData = [];
    var map;
    var infowindow;
    
    var size = new google.maps.Size(18,18);
    var origin = new google.maps.Point(0,0);
    var anchor = new google.maps.Point(9,9);
    
    var carAccidentIcon = {
      url: '{% static "img/markers/dark_blue.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var falseAlarmIcon = {
      url: '{% static "img/markers/dark_orange.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var fireIcon = {
      url: '{% static "img/markers/dark_green.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var hazmatIcon = {
      url: '{% static "img/markers/dark_red.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var medicalIcon = {
      url: '{% static "img/markers/dark_purple.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var otherIcon = {
      url: '{% static "img/markers/dark_brown.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var rescueIcon = {
      url: '{% static "img/markers/dark_pink.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var weaponIcon = {
      url: '{% static "img/markers/dark_grey.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    /* --------- Events on detail button clicks ---------------*/
    $('.fire_type').click(function(e) {
      e.preventDefault();
      var selected = $(this).attr("value");
      $('.fire_type').each(function() {
        if ($(this).attr("value") == selected) {
          $(this).addClass("btn-primary");
        } else {
          $(this).removeClass("btn-primary");
        }
      })
      
      $('#fire_list .row-fluid').each(function() {
        if (selected == 'fire-all') {
          $(this).fadeIn();
        } else {
          if ($(this).attr("value") == selected) {
            $(this).fadeIn();
          } else {
            $(this).fadeOut();
          }
        }
      });
      return false;
    });
    
    /* ----------- Draw maps ---------------------------*/
    function setWidth() {
      var width = $('.container').width();
      if (width > 1024) {
        width = 1024;
      } else if (width < 280) {
        width = 280;
      }
      var height = width;
      
      return [width, height];
    }
    
    function initialize() {
      var bounds = setWidth();
      
      $('#fire_map').width(bounds[0]);
      $('#fire_map').height(bounds[1]);
      
      {% if neighborhood_outline %}
      var zoom = 15;
      {% else %}
      var zoom = 11;
      {% endif %}
      
      // Zoom out by one level if tablet or smaller
      if (bounds[0] <= 768) {
        zoom -= 1;
      }
      
      // Zoom out again if mobile device
      if (bounds[0] <= 480) {
        zoom -= 1;
      }
      
      var mapOptions = {
        center: new google.maps.LatLng({{ lat }}, {{ lng }}),
        zoom: zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel:false,
        panControl: false,
        streetViewControl: false,
        mapTypeControl:true,
        zoomControlOptions:{
            style:google.maps.ZoomControlStyle.SMALL
        },
      };
      map = new google.maps.Map(document.getElementById("fire_map"), mapOptions);
      
      infowindow = new google.maps.InfoWindow({
        maxWidth: 250,
      });
      
      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
      });
      
      {% if neighborhood_outline %}
      /*---- Neighborhood Border ----*/
      var geoJSON = {{ neighborhood_outline.json|safe }};
      
      var coords = geoJSON.coordinates;
      var paths = [];
      
      for (var i = 0; i < coords.length; i++) {
        for (var j = 0; j < coords[i].length; j++) {
          var path = [];
            for (var k = 0; k < coords[i][j].length; k++) {
              var ll = new google.maps.LatLng(coords[i][j][k][1],
      coords[i][j][k][0]);
              path.push(ll);
            }
          paths.push(path);
        }
      }
      
      var polygon = new google.maps.Polygon({
        paths: paths,
        strokeColor: "#ff7f0e",
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: "#EEE",
        fillOpacity: 0.25,
      });
      
      polygon.setMap(map);
      
      google.maps.event.addListener(polygon, 'click', function() {
        infowindow.close();
      });
      /*---- End Neighborhood Border ----*/
      {% endif %}
            
      /*---- Data ----*/
      {% for fire in fires %}
      var temp = {
        'lat':{{ fire.lat }},
        'lng':{{ fire.lng }},
        'fireType':'fire-{{ fire.incident_category.aggregate.description|slugify }}',
        'date':'{{ fire.date|date:"g:i a" }}',
        'address':'{{ fire.address }}',
        'category':'{{fire.incident_category.description|lower }}'
      };
      
      var marker = createMarker(temp);
      
      temp['marker'] = marker;
      
      fireData.push(temp);
      {% endfor %}      
      /*---- End Data ----*/
      
      drawPins();
      
      /*---- Start Events ------*/
      $('.btn').each(function(e) {
        $(this).click(function(e) {
          drawPins();
        });
      });
      
      $(window).resize(function () {
        var bounds = setWidth();
        
        $('#fire_map').width(bounds[0]);
        $('#fire_map').height(bounds[1]);
      });
      /*---- End Events ---------*/
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
    function createMarker(fireData) {
      var marker = new google.maps.Marker({
          position:new google.maps.LatLng(fireData.lat, fireData.lng),
          map:map,
      });
      
      if (fireData.fireType === 'fire-rescue') {
        marker.setIcon(rescueIcon);
      } else if (fireData.fireType === 'fire-fire') {
        marker.setIcon(fireIcon);
      } else if (fireData.fireType === 'fire-false-alarm') {
        marker.setIcon(falseAlarmIcon);
      } else if (fireData.fireType === 'fire-medical-or-aid-response') {
        marker.setIcon(medicalIcon);
      } else if (fireData.fireType === 'fire-weapon-assaultmultiple-casulaties') {
        marker.setIcon(weaponIcon);
      } else if (fireData.fireType === 'fire-other') {
        marker.setIcon(otherIcon);
      } else if (fireData.fireType === 'fire-car-accident') {
        marker.setIcon(carAccidentIcon);
      } else if (fireData.fireType === 'fire-hazmat-gas-leak-or-explosion') {
        marker.setIcon(hazmatIcon);
      }
            
      google.maps.event.addListener(marker, 'click', function () {
        if (infowindow.getMap() && infowindow.getPosition() === marker.getPosition()) {
            infowindow.close();
        } else {
          infowindowHTML = '<div><span class="date">' + fireData.date + '</span> <span class="address">' + fireData.address + '</span></div><div><span class="police_highlight">' + fireData.category + '</span></div>';
          infowindow.open(map, marker);
          infowindow.setContent(infowindowHTML);
          infowindow.setPosition(marker.getPosition());
        }
      });
            
      marker.setVisible(false);
      return marker;
    }
    
    function drawPins() {
      fireType = $('.fire_type.btn-primary').attr('value');
      
      for (var i = 0; i < fireData.length; i++) {
        var matchFireType = false;
        
        if (fireType == 'fire-all') {
          matchFireType = true;
        } else {
          if (fireType == fireData[i].fireType) {
            matchFireType = true;
          }
        }
        
        if (matchFireType == true) {
          fireData[i].marker.setVisible(true);
        } else {
          fireData[i].marker.setVisible(false);
        }
      }
    }
    /* ----------- End drawing maps ---------------------------*/
  });
</script>
{% endblock %}