{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ neighborhood_name }} - Police Info - {{date_object|date:"F d, Y"}}{% endblock title %}

{% block css_overrides %}
<style>
  #police_map img {
    max-width: none; /* Bootstrap fix */
  }
</style>
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1 class="headline">{{date_label}} in {{ neighborhood_name }}</h1>
  </div>  
  {% if police_call_count > 0 or police_incident_count > 0 %}
  <div>
    <h2><img src="{% static "img/icons/police.png" %}" class="service_icon_details">Police Details</h2>
    <hr>
  </div>
  <div id="police_details">
    <div>
      <ul class="detail_categories">
        <li><a href="#" class="police_data_type btn btn-primary" value="calls">911 Calls</a></li>
        <li><a href="#" class="police_data_type btn" value="incidents">Incident Reports</a></li>
      </ul>
    </div>
    <ul class="detail_types">
      <li><a href="#" class="police_type btn btn-primary" value="police-all">All</a></li>
      {% for item in police_categories %}
      <li><a href="#" class="police_type btn" value="police-{{ item|slugify }}">{{ item }}</a></li>
      {% endfor %}
    </ul>
    <div class="map_wrapper">
      <div id="police_map" class="map_holder"></div>
    </div>
    <ul class="detail_categories">
      <li><a href="#" class="police_data_type btn btn-primary" value="calls">911 Calls</a></li>
      <li><a href="#" class="police_data_type btn" value="incidents">Incident Reports</a></li>
    </ul>
    <ul class="detail_types">
      <li><a href="#" class="police_type btn btn-primary" value="police-all">All</a></li>
      {% for item in police_categories %}
      <li><a href="#" class="police_type btn" value="police-{{ item|slugify }}">{{ item }}</a></li>
      {% endfor %}
    </ul>
    <div class="detail_list" id="police_list_calls">
      {% for call in police_calls %}
      <div class="row-fluid" value="police-{{ call.group.category.category|slugify }}">
        <div class="span1 date">
          {{ call.date|date:"g:i a" }}
        </div>
        <div class="span3 address">
          <a href="https://maps.google.com/maps?q={{call.lat}},{{call.lng}}" target="_blank">{{ call.address }}</a></span>
        </div>
        <div class="span8">
          <span class="police_highlight">{{call.group.description|lower }}:</span> {{ call.description|lower }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="detail_list initially_hidden" id="police_list_incidents">
      {% for incident in police_incidents %}
      <div class="row-fluid" value="police-{{ incident.group.category.category|slugify }}">
        <div class="span1 date">
          {{ incident.date|date:"g:i a" }}
        </div>
        <div class="span3 address">
          <a href="https://maps.google.com/maps?q={{incident.lat}},{{incident.lng}}" target="_blank">{{ incident.address }}</a></span>
        </div>
        <div class="span8">
          <span class="police_highlight">{{incident.group.description|lower }}:</span> {{ incident.description|lower }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div>
    <h2>No 911 calls to police</h2>
  </div>
  {% endif %}
  

{% endblock %}

{% block scripts %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaR_OIpyxPvlznW2j6dLQjz8_iFbUp3Ao&sensor=false">
</script>
<script>
  $(document).ready(function() {
    var policeData = [];
    var map;
    var infowindow;
    
    var size = new google.maps.Size(18,18);
    var origin = new google.maps.Point(0,0);
    var anchor = new google.maps.Point(9,9);
    
    var arrestIcon = {
      url: '{% static "img/markers/dark_blue.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var assaultIcon = {
      url: '{% static "img/markers/light_blue.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var disturbancesIcon = {
      url: '{% static "img/markers/dark_orange.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var drugsIcon = {
      url: '{% static "img/markers/light_orange.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var falseIcon = {
      url: '{% static "img/markers/dark_green.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var homicideIcon = {
      url: '{% static "img/markers/light_green.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var mischiefIcon = {
      url: '{% static "img/markers/dark_red.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var otherIcon = {
      url: '{% static "img/markers/light_red.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var prostitutionIcon = {
      url: '{% static "img/markers/dark_purple.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var theftIcon = {
      url: '{% static "img/markers/light_purple.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var trafficIcon = {
      url: '{% static "img/markers/dark_brown.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    /* --------- Events on detail button clicks ---------------*/
    $('.police_data_type').click(function(e) {
      e.preventDefault();
      var selected = $(this).attr("value");
      $('.police_data_type').each(function() {
        if ($(this).attr("value") == selected) {
          $(this).addClass("btn-primary");
        } else {
          $(this).removeClass("btn-primary");
        }
      });
      
      if (selected == "calls") {
        $('#police_list_calls').fadeIn();
        $('#police_list_incidents').fadeOut();
      } else {
        $('#police_list_incidents').fadeIn();
        $('#police_list_calls').fadeOut();
      }
      return false;
    });
    
    $('.police_type').click(function(e) {
      e.preventDefault();
      var selected = $(this).attr("value");
      $('.police_type').each(function() {
        if ($(this).attr("value") == selected) {
          $(this).addClass("btn-primary");
        } else {
          $(this).removeClass("btn-primary");
        }
      })
      
      $('#police_list_calls .row-fluid').each(function() {
        if (selected == 'police-all') {
          $(this).fadeIn();
        } else {
          if ($(this).attr("value") == selected) {
            $(this).fadeIn();
          } else {
            $(this).fadeOut();
          }
        }
      });
      
      $('#police_list_incidents .row-fluid').each(function() {
        if (selected == 'police-all') {
          $(this).fadeIn();
        } else {
          if ($(this).attr("value") == selected) {
            $(this).fadeIn();
          } else {
            $(this).fadeOut();
          }
        }
      });
      return false;
    });
    
    /* ----------- Draw maps ---------------------------*/
    function setWidth() {
      var width = $('.container').width();
      if (width > 1024) {
        width = 1024;
      } else if (width < 280) {
        width = 280;
      }
      var height = width;
      
      return [width, height];
    }
    
    function initialize() {
      var bounds = setWidth();
      
      $('#police_map').width(bounds[0]);
      $('#police_map').height(bounds[1]);
      
      {% if neighborhood_outline %}
      var zoom = 15;
      {% else %}
      var zoom = 11;
      {% endif %}
      
      // Zoom out by one level if tablet or smaller
      if (bounds[0] <= 768) {
        zoom -= 1;
      }
      
      // Zoom out again if mobile device
      if (bounds[0] <= 480) {
        zoom -= 1;
      }
      
      var mapOptions = {
        center: new google.maps.LatLng({{ lat }}, {{ lng }}),
        zoom: zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel:false,
        panControl: false,
        streetViewControl: false,
        mapTypeControl:true,
        zoomControlOptions:{
            style:google.maps.ZoomControlStyle.SMALL
        },
      };
      map = new google.maps.Map(document.getElementById("police_map"), mapOptions);
      
      infowindow = new google.maps.InfoWindow({
        maxWidth: 250,
      });
      
      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
      });
      
      {% if neighborhood_outline %}
      /*---- Neighborhood Border ----*/
      var geoJSON = {{ neighborhood_outline.json|safe }};
      
      var coords = geoJSON.coordinates;
      var paths = [];
      
      for (var i = 0; i < coords.length; i++) {
        for (var j = 0; j < coords[i].length; j++) {
          var path = [];
            for (var k = 0; k < coords[i][j].length; k++) {
              var ll = new google.maps.LatLng(coords[i][j][k][1],
      coords[i][j][k][0]);
              path.push(ll);
            }
          paths.push(path);
        }
      }
      
      var polygon = new google.maps.Polygon({
        paths: paths,
        strokeColor: "#ff7f0e",
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: "#EEE",
        fillOpacity: 0.25,
      });
      
      polygon.setMap(map);
      
      google.maps.event.addListener(polygon, 'click', function() {
        infowindow.close();
      });
      /*---- End Neighborhood Border ----*/
      {% endif %}
            
      /*---- Data ----*/
      {% for call in police_calls %}
      var temp = {
        'lat':{{ call.lat }},
        'lng':{{ call.lng }},
        'policeDataType':'calls',
        'policeType':'police-{{ call.group.category.category|slugify }}',
        'time':'{{ call.date|date:"g:i a" }}',
        'address':'{{ call.address }}',
        'category':'{{call.group.description|lower }}',
        'description':'{{ call.description|lower }}'
      };
      
      var marker = createMarker(temp);
      
      temp['marker'] = marker;
      
      policeData.push(temp);
      {% endfor %}
      
      {% for incident in police_incidents %}
      var temp = {
        'lat':{{ incident.lat }},
        'lng':{{ incident.lng }},
        'policeDataType':'incidents',
        'policeType':'police-{{ incident.group.category.category|slugify }}',
        'time':'{{ incident.date|date:"g:i a" }}',
        'address':'{{ incident.address }}',
        'category':'{{incident.group.description|lower }}',
        'description':'{{ incident.description|lower }}'
      };
      
      var marker = createMarker(temp);
      
      temp['marker'] = marker;
      
      policeData.push(temp);
      {% endfor %}
      /*---- End Data ----*/
      
      drawPins();
      
      /*---- Start Events ------*/
      $('.btn').each(function(e) {
        $(this).click(function(e) {
          drawPins();
        });
      });
      
      $(window).resize(function () {
        var bounds = setWidth();
        
        $('#police_map').width(bounds[0]);
        $('#police_map').height(bounds[1]);
      });
      /*---- End Events ---------*/
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
    function createMarker(policeData) {
      var marker = new google.maps.Marker({
          position:new google.maps.LatLng(policeData.lat, policeData.lng),
          map:map,
      });
      
      if (policeData.policeType === 'police-arrest') {
        marker.setIcon(arrestIcon);
      } else if (policeData.policeType === 'police-assault-threats-and-weapons') {
        marker.setIcon(assaultIcon);
      } else if (policeData.policeType === 'police-disturbances') {
        marker.setIcon(disturbancesIcon);
      } else if (policeData.policeType === 'police-drugs-and-liquor') {
        marker.setIcon(drugsIcon);
      } else if (policeData.policeType === 'police-false-alarm') {
        marker.setIcon(falseIcon);
      } else if (policeData.policeType === 'police-homicide') {
        marker.setIcon(homicideIcon);
      } else if (policeData.policeType === 'police-mischief-and-suspicious-people') {
        marker.setIcon(mischiefIcon);
      } else if (policeData.policeType === 'police-other') {
        marker.setIcon(otherIcon);
      } else if (policeData.policeType === 'police-prostitution-vice-and-gambling') {
        marker.setIcon(prostitutionIcon);
      } else if (policeData.policeType === 'police-theft-or-similar') {
        marker.setIcon(theftIcon);
      } else if (policeData.policeType === 'police-traffic') {
        marker.setIcon(trafficIcon);
      }
      
      google.maps.event.addListener(marker, 'click', function () {
        if (infowindow.getMap() && infowindow.getPosition() === marker.getPosition()) {
            infowindow.close();
        } else {
          infowindowHTML = '<div><span class="date">' + policeData.time + '</span> <span class="address">' + policeData.address + '</span></div><div><span class="police_highlight">' + policeData.category + '</span> ' + policeData.description + '</span></div>';
          infowindow.open(map, marker);
          infowindow.setContent(infowindowHTML);
          infowindow.setPosition(marker.getPosition());
        }
      });
            
      marker.setVisible(false);
      return marker;
    }
    
    function drawPins() {
      policeDataType = $('.police_data_type.btn-primary').attr('value');
      policeType = $('.police_type.btn-primary').attr('value');
      
      for (var i = 0; i < policeData.length; i++) {
        var matchPoliceDataType = false;
        var matchPoliceType = false;
        
        if (policeData[i].policeDataType == policeDataType) {
          matchPoliceDataType = true;
        }
        
        if (policeType == 'police-all') {
          matchPoliceType = true;
        } else {
          if (policeType == policeData[i].policeType) {
            matchPoliceType = true;
          }
        }
        
        if (matchPoliceDataType == true && matchPoliceType == true) {
          policeData[i].marker.setVisible(true);
        } else {
          policeData[i].marker.setVisible(false);
        }
      }
    }
    /* ----------- End drawing maps ---------------------------*/
  });
</script>
{% endblock %}