{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ neighborhood_name }} - Code Violation Info - {{date_object|date:"F d, Y"}}{% endblock title %}

{% block css_overrides %}
<link href="{% static "js/theme/default/style.css" %}" rel="stylesheet" media="screen">  
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1 class="headline">{{date_label}} in {{ neighborhood_name }}</h1>
  </div>  
  {% if code_violations_count > 0 or food_violations_count > 0 %}
  <div>
    <h2><img src="{% static "img/icons/violations.png" %}" class="service_icon_details">Violation Details</h2>
    <hr>
  </div>
  <div id="violation_details">
    {% if food_violations_count > 0 %}
    <p><span class="red">Red</span> food violations must be fixed ASAP or business may be closed.</p>
    {% endif %}
    <ul class="detail_types">
      <li><a href="#" class="violation_type btn btn-primary" value="violation-all">All</a></li>
      {% for key, value in code_violations_details.items %}
      {% if value > 0 %}
      <li><a href="#" class="violation_type btn" value="violation-{{ key|slugify }}">{{ key }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="detail_list" id="violation_list">
      {% for violation in code_violations %}
      <div class="row-fluid" value="violation-{{ violation.group.aggregate.category|slugify }}">
        <div class="span2 address">
          <a href="https://maps.google.com/maps?q={{violation.lat}},{{violation.lng}}" target="_blank">{{ violation.address }}</a>
        </div>
        <div class="span10">
          {{ violation.description }} <a href="{{violation.url}}" target="_blank">link</a>
        </div>
      </div>
      {% endfor %}
      {% for violation in food_violations %}
      <div class="row-fluid" value="violation-{{ violation.group.aggregate.category|slugify }}">
        <div class="span2 address">
          <a href="https://maps.google.com/maps?q={{violation.lat}},{{violation.lng}}" target="_blank">{{ violation.address }}</a>
        </div>
        <div class="span10">
          <span class="{% if violation.violation_type == "red" %}red{% endif %}">{{violation.name}} - {{ violation.description }})</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div>
    <h2>No violations issued</h2>
  </div>
  {% endif %}
  

{% endblock %}

{% block scripts %}
<script src="{% static "js/OpenLayers.debug.js" %}"></script>
<script>
  $(document).ready(function() {
    var MOBILE_SWITCH = 480;
    
    function compare(a,b) {
      if (a.label < b.label)
         return -1;
      if (a.label > b.label)
        return 1;
      return 0;
    }
    
    /* --------- Events on detail button clicks ---------------*/
    $('.violation_type').click(function(e) {
      e.preventDefault();
      var selected = $(this).attr("value");
      $('.violation_type').each(function() {
        if ($(this).attr("value") == selected) {
          $(this).addClass("btn-primary");
        } else {
          $(this).removeClass("btn-primary");
        }
      })
      
      $('#violation_list .row-fluid').each(function() {
        if (selected == 'violation-all') {
          $(this).fadeIn();
        } else {
          if ($(this).attr("value") == selected) {
            $(this).fadeIn();
          } else {
            $(this).fadeOut();
          }
        }
      })
      return false;
    });
        
    /* ----------- Draw maps ---------------------------*/
  });
</script>
{% endblock %}