{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ neighborhood_name }} - Code Violation Info - {{date_object|date:"F d, Y"}}{% endblock title %}

{% block css_overrides %}
<style>
  #violation_map img {
    max-width: none; /* Bootstrap fix */
  }
</style>
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1 class="headline">{{date_label}} in {{ neighborhood_name }}</h1>
  </div>  
  {% if code_violations_count > 0 or food_violations_count > 0 %}
  <div>
    <h2><img src="{% static "img/icons/violations.png" %}" class="service_icon_details">Violation Details</h2>
    <hr>
  </div>
  <div id="violation_details">
    {% if food_violations_count > 0 %}
    <p><span class="red">Red</span> food violations must be fixed ASAP or business may be closed.</p>
    {% endif %}
    <ul class="detail_types">
      <li><a href="#" class="violation_type btn btn-primary" value="violation-all">All</a></li>
      {% for key, value in code_violations_details.items %}
      {% if value > 0 %}
      <li><a href="#" class="violation_type btn" value="violation-{{ key|slugify }}">{{ key }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="map_wrapper">
      <div id="violation_map"></div>
    </div>
    <div class="detail_list" id="violation_list">
      {% for violation in code_violations %}
      <div class="row-fluid" value="violation-{{ violation.group.aggregate.category|slugify }}">
        <div class="span2 address">
          <a href="https://maps.google.com/maps?q={{violation.lat}},{{violation.lng}}" target="_blank">{{ violation.address }}</a>
        </div>
        <div class="span10">
          {{ violation.description }} <a href="{{violation.url}}" target="_blank">link</a>
        </div>
      </div>
      {% endfor %}
      {% for violation in food_violations %}
      <div class="row-fluid" value="violation-{{ violation.group.aggregate.category|slugify }}">
        <div class="span2 address">
          <a href="https://maps.google.com/maps?q={{violation.lat}},{{violation.lng}}" target="_blank">{{ violation.address }}</a>
        </div>
        <div class="span10">
          <span class="{% if violation.violation_type == "red" %}red{% endif %}">{{violation.name}} - {{ violation.description }})</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div>
    <h2>No violations issued</h2>
  </div>
  {% endif %}
  

{% endblock %}

{% block scripts %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaR_OIpyxPvlznW2j6dLQjz8_iFbUp3Ao&sensor=false">
</script>
<script>
  $(document).ready(function() {
    var violationData = [];
    var map;
    var infowindow;
    
    var size = new google.maps.Size(18,18);
    var origin = new google.maps.Point(0,0);
    var anchor = new google.maps.Point(9,9);
    
    var evictionIcon = {
      url: '{% static "img/markers/dark_blue.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var foodIcon = {
      url: '{% static "img/markers/dark_orange.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var housingIcon = {
      url: '{% static "img/markers/dark_green.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var illegalConstructionIcon = {
      url: '{% static "img/markers/dark_red.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var noiseIcon = {
      url: '{% static "img/markers/dark_purple.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var otherIcon = {
      url: '{% static "img/markers/dark_brown.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var permitIcon = {
      url: '{% static "img/markers/dark_pink.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var vacantBuildingIcon = {
      url: '{% static "img/markers/dark_grey.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var vegetationIcon = {
      url: '{% static "img/markers/medium_green.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    var zoningIcon = {
      url: '{% static "img/markers/medium_blue.png" %}',
      size: size,
      origin: origin,
      anchor: anchor
    };
    
    /* --------- Events on detail button clicks ---------------*/
    $('.violation_type').click(function(e) {
      e.preventDefault();
      var selected = $(this).attr("value");
      
      if (selected != 'violation-all') {
        infowindow.close();
      }
      
      $('.violation_type').each(function() {
        if ($(this).attr("value") == selected) {
          $(this).addClass("btn-primary");
        } else {
          $(this).removeClass("btn-primary");
        }
      })
      
      $('#violation_list .row-fluid').each(function() {
        if (selected == 'violation-all') {
          $(this).fadeIn();
        } else {
          if ($(this).attr("value") == selected) {
            $(this).fadeIn();
          } else {
            $(this).fadeOut();
          }
        }
      })
      return false;
    });
        
    /* ----------- Draw maps ---------------------------*/
    function setWidth() {
      var width = $('.container').width();
      if (width > 1024) {
        width = 1024;
      } else if (width < 280) {
        width = 280;
      }
      var height = width;
      
      return [width, height];
    }
    
    function initialize() {
      var bounds = setWidth();
      
      $('#violation_map').width(bounds[0]);
      $('#violation_map').height(bounds[1]);
      
      {% if neighborhood_outline %}
      var zoom = 15;
      {% else %}
      var zoom = 11;
      {% endif %}
      
      // Zoom out by one level if tablet or smaller
      if (bounds[0] <= 768) {
        zoom -= 1;
      }
      
      // Zoom out again if mobile device
      if (bounds[0] <= 480) {
        zoom -= 1;
      }
      
      var mapOptions = {
        center: new google.maps.LatLng({{ lat }}, {{ lng }}),
        zoom: zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel:false,
        panControl: false,
        streetViewControl: false,
        mapTypeControl:true,
        zoomControlOptions:{
            style:google.maps.ZoomControlStyle.SMALL
        },
      };
      map = new google.maps.Map(document.getElementById("violation_map"), mapOptions);
      
      infowindow = new google.maps.InfoWindow();
      
      google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
      });
      
      {% if neighborhood_outline %}
      /*---- Neighborhood Border ----*/
      var geoJSON = {{ neighborhood_outline.json|safe }};
      
      var coords = geoJSON.coordinates;
      var paths = [];
      
      for (var i = 0; i < coords.length; i++) {
        for (var j = 0; j < coords[i].length; j++) {
          var path = [];
            for (var k = 0; k < coords[i][j].length; k++) {
              var ll = new google.maps.LatLng(coords[i][j][k][1],
      coords[i][j][k][0]);
              path.push(ll);
            }
          paths.push(path);
        }
      }
      
      var polygon = new google.maps.Polygon({
        paths: paths,
        strokeColor: "#ff7f0e",
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: "#EEE",
        fillOpacity: 0.25,
      });
      
      polygon.setMap(map);
      
      google.maps.event.addListener(polygon, 'click', function() {
        infowindow.close();
      });
      /*---- End Neighborhood Border ----*/
      {% endif %}
            
      /*---- Data ----*/
      {% if code_violations_count > 0 %}
      {% for violation in code_violations %}
      var temp = {
        'lat':{{ violation.lat }},
        'lng':{{ violation.lng }},
        'violationType':'violation-{{ violation.group.aggregate.category|slugify }}',
        'address':'{{ violation.address }}',
        'description':'{{violation.description }}',
        'url':'{{violation.url}}'
      };
      
      var marker = createMarker(temp);
      
      temp['marker'] = marker;
      
      violationData.push(temp);
      {% endfor %}
      {% endif %}
      
      {% if food_violations_count > 0 %}
      {% for violation in food_violations %}
      var temp = {
        'lat':{{ violation.lat }},
        'lng':{{ violation.lng }},
        'violationType':'violation-{{ violation.group.aggregate.category|slugify }}',
        'address':'{{ violation.address }}',
        'description':'{{violation.description }}',
        'url':'{{violation.url}}',
        'violation_type':'{{violation.violation_type}}',
        'name':'{{violation.name}}'
      };
      
      var marker = createMarker(temp);
      
      temp['marker'] = marker;
      
      violationData.push(temp);
      {% endfor %}
      {% endif %}
      /*---- End Data ----*/
      
      drawPins();
      
      /*---- Start Events ------*/
      $('.btn').each(function(e) {
        $(this).click(function(e) {
          drawPins();
        });
      });
      
      $(window).resize(function () {
        var bounds = setWidth();
        
        $('#violation_map').width(bounds[0]);
        $('#violation_map').height(bounds[1]);
      });
      /*---- End Events ---------*/
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
    function createMarker(violationData) {
      var marker = new google.maps.Marker({
          position:new google.maps.LatLng(violationData.lat, violationData.lng),
          map:map,
      });
      
      if (violationData.violationType === 'violation-illegal-construction-or-clearing') {
        marker.setIcon(illegalConstructionIcon);
      } else if (violationData.violationType === 'violation-housing-code-violation') {
        marker.setIcon(housingIcon);
      } else if (violationData.violationType === 'violation-food-inspection') {
        marker.setIcon(foodIcon);
      } else if (violationData.violationType === 'violation-vacantunfit-building') {
        marker.setIcon(vacantBuildingIcon);
      } else if (violationData.violationType === 'violation-zoning') {
        marker.setIcon(zoningIcon);
      } else if (violationData.violationType === 'violation-eviction') {
        marker.setIcon(evictionIcon);
      } else if (violationData.violationType === 'violation-vegetation') {
        marker.setIcon(vegetationIcon);
      } else if (violationData.violationType === 'violation-noise') {
        marker.setIcon(noiseIcon);
      } else if (violationData.violationType === 'violation-other') {
        marker.setIcon(otherIcon);
      } else if (violationData.violationType === 'violation-permit-issue') {
        marker.setIcon(permitIcon);
      }
      
      google.maps.event.addListener(marker, 'click', function () {
        if (infowindow.getMap() && infowindow.getPosition() === marker.getPosition()) {
            infowindow.close();
        } else {
          var infowindowHTML;
          if (typeof violationData.name == 'undefined') {
            console.log("Not a food violation");
            infowindowHTML = '<div><span class="address">' + violationData.address + '</span></div><div><span class="police_highlight">' + violationData.description + '</span> <a href="'+ violationData.url + '" target="_blank">link</a></div>';
          } else {
            console.log(violationData.name);
            infowindowHTML = '<div class="date">' + violationData.name + '</div><div class="address">' + violationData.address + '</div><div><span class="police_highlight">' + violationData.description + '</span> <a href="'+ violationData.url + '" target="_blank">link</a></div>';
          }
          infowindow.open(map, marker);
          infowindow.setContent(infowindowHTML);
          infowindow.setPosition(marker.getPosition());
        }
      });
            
      marker.setVisible(false);
      return marker;
    }
    
    function drawPins() {
      violationType = $('.violation_type.btn-primary').attr('value');
      
      for (var i = 0; i < violationData.length; i++) {
        var matchViolationType = false;
        
        if (violationType == 'violation-all') {
          matchViolationType = true;
        } else {
          if (violationType == violationData[i].violationType) {
            matchViolationType = true;
          }
        }
        
        if (matchViolationType == true) {
          violationData[i].marker.setVisible(true);
        } else {
          violationData[i].marker.setVisible(false);
        }
      }
    }
    /* ----------- End drawing maps ---------------------------*/
  });
</script>
{% endblock %}